div {
  text-align: center;
}

button {
  border-width: 3px;
  border-color: black;
  margin: 3px;
  width: 15em;
  height: 20em;
  background-blend-mode: soft-light;
}

.constraint i {
  color: black;
}

button.terrmap {
  background-image : url("../figures/map.png");
  background-position: center;
}

button.terrchart {
  background-image : url("../figures/barchart.png");
  background-position: center;
}

button.terrclock {
  background-image : url("../figures/linechart.png");
  background-position: center;
}

button.terrlist {
  background-image : url("../figures/reading.png");
  background-position: center;
}

button.terrdanger {
  background-image : url("../figures/danger.png");
  background-position: center;
}

div.scrollable{
  height : 22em;
  overflow: auto;
  white-space: nowrap;
}

div.scrollable p{
  white-space: normal;
  padding: 2px;
}

div.scrollable h2{
  top: 0;
  vertical-align: top;
  word-wrap: normal;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
